$themeColor: #4bbc42;
.tc{
  text-align: center;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix{
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}
.mt100{
  margin-top: 100px !important;
}
.mt50{
  margin-top: 50px;
}
.vc{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}
.vl{
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.w100{
  width: 100%;
}
.mt30{
  margin-top: 30px;
}
*{
  font-family: "PingFangSC-Light","sans-serif","Tahoma","Microsoft YaHei";
}
.f90{
  font-size: 40px;
  line-height: 60px;
}
.f40{
  font-size: 20px;
  line-height: 36px;
}