@charset "UTF-8";
.content {
  margin: 75px auto;
  padding-top: 20px;
  width: 1320px;
  background: #fff; }
  .content .join-header {
    width: 100%;
    padding: 0 60px;
    border-bottom: 1px solid #e6e6e6; }
    .content .join-header .header-menu {
      height: 79px; }
      .content .join-header .header-menu .header-item {
        width: 200px;
        text-align: center;
        font-size: 40px;
        color: #333;
        line-height: 79px;
        position: relative; }
  .content .bah {
    width: 1200px;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    height: 570px; }
    .content .bah .about_yake {
      padding: 30px 20px 90px; }

.brand {
  padding: 90px 70px 70px; }
  .brand .title {
    text-align: center;
    margin-bottom: 100px; }
    .brand .title .f60 {
      font-size: 60px; }
    .brand .title .f32 {
      margin-top: 50px;
      font-size: 32px; }
  .brand .icons {
    float: left;
    width: 25%;
    text-align: center; }
    .brand .icons .icon-box {
      margin: 0 auto;
      box-sizing: border-box;
      width: 160px;
      height: 160px;
      border: 1px solid #d5ead3;
      border-radius: 160px;
      padding: 9px; }
      .brand .icons .icon-box .icon {
        box-sizing: border-box;
        background: #e7efea;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        text-align: center;
        padding-top: 30px; }
    .brand .icons .title {
      margin: 0;
      font-size: 24px;
      line-height: 50px; }
    .brand .icons.w20 {
      width: 20%; }
      .brand .icons.w20 .icon-box {
        width: 110px;
        height: 110px;
        border: 1px solid #d5ead3;
        border-radius: 110px; }
        .brand .icons.w20 .icon-box .icon {
          box-sizing: border-box;
          padding-top: 20px; }
          .brand .icons.w20 .icon-box .icon img {
            width: 60px; }

.w850 {
  width: 850px;
  margin: 0 auto; }
  .w850 .w400 {
    position: relative;
    width: 400px; }
    .w850 .w400 .inner_circle {
      position: absolute;
      width: 150px;
      height: 150px;
      border: 1px solid transparent;
      border-radius: 150px;
      background: #F2F2F2;
      top: 110px;
      left: 100px;
      color: #000;
      font-size: 24px;
      line-height: 150px;
      text-align: center; }
    .w850 .w400 .inner:hover {
      transform: scale(1.2); }
    .w850 .w400 .inner_circle:hover {
      transform: scale(1.2); }
    .w850 .w400 .box-rolate {
      float: left;
      width: 180px;
      height: 180px; }
      .w850 .w400 .box-rolate .sanjiao {
        margin: 0 auto;
        width: 0;
        height: 0;
        border-bottom: 70px solid red;
        border-left: 70px solid transparent;
        border-right: 70px solid transparent; }
      .w850 .w400 .box-rolate .inner {
        margin: 0 auto;
        width: 140px;
        height: 80px;
        color: #fff;
        text-align: center;
        line-height: 80px;
        font-size: 16px; }
      .w850 .w400 .box-rolate:nth-child(1) {
        transform: rotate(135deg); }
        .w850 .w400 .box-rolate:nth-child(1) .inner {
          background: #9DC816; }
        .w850 .w400 .box-rolate:nth-child(1) .sanjiao {
          border-bottom: 70px solid #9DC816; }
      .w850 .w400 .box-rolate:nth-child(2) {
        transform: rotate(225deg); }
        .w850 .w400 .box-rolate:nth-child(2) .inner {
          background: #F0831E; }
        .w850 .w400 .box-rolate:nth-child(2) .sanjiao {
          border-bottom: 70px solid #F0831E; }
      .w850 .w400 .box-rolate:nth-child(3) {
        transform: rotate(45deg); }
        .w850 .w400 .box-rolate:nth-child(3) .inner {
          background: #46BDDD; }
        .w850 .w400 .box-rolate:nth-child(3) .sanjiao {
          border-bottom: 70px solid #46BDDD; }
      .w850 .w400 .box-rolate:nth-child(4) {
        transform: rotate(-45deg); }
        .w850 .w400 .box-rolate:nth-child(4) .inner {
          background: #0055A2; }
        .w850 .w400 .box-rolate:nth-child(4) .sanjiao {
          border-bottom: 70px solid #0055A2; }

.inputs {
  width: 1120px;
  margin: 0 auto; }
  .inputs .input {
    width: 500px;
    height: 70px;
    border: 2px solid #DFDEDE;
    margin: 20px 0; }
    .inputs .input .labelName {
      float: left;
      font-size: 20px;
      line-height: 46px;
      margin: 10px;
      width: 120px;
      text-align: left;
      color: #9E9B9C;
      border-right: 1px solid #9E9B9C; }
    .inputs .input input {
      margin: 10px 0;
      float: left;
      height: 46px;
      width: 348px;
      font-size: 18px;
      border: none;
      outline: none; }
  .inputs .select {
    width: 225px;
    height: 70px;
    border: 2px solid #DFDEDE;
    margin: 20px 0;
    position: relative;
    padding: 10px 5px; }
    .inputs .select .select_value {
      font-size: 20px;
      line-height: 46px;
      color: #9E9B9C; }
    .inputs .select ul {
      max-height: 250px;
      position: absolute;
      overflow: auto;
      top: 70px;
      width: 225px;
      border: 2px solid #DFDEDE;
      border-radius: 14px;
      border-bottom: none;
      left: -2px;
      /*滚动条样式*/ }
      .inputs .select ul::-webkit-scrollbar {
        /*滚动条整体样式*/
        width: 8px;
        /*高宽分别对应横竖滚动条的尺寸*/ }
      .inputs .select ul::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        background: rgba(0, 0, 0, 0.2); }
      .inputs .select ul::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        border-radius: 0;
        background: transparent; }
      .inputs .select ul li {
        padding: 0 20px;
        border-bottom: 2px solid #DFDEDE;
        background: #fff;
        line-height: 46px;
        cursor: pointer; }
        .inputs .select ul li:hover {
          background: #aaa; }

.submit_button {
  margin: 30px auto;
  width: 300px;
  height: 80px;
  line-height: 80px;
  border: 1px solid transparent;
  border-radius: 8px;
  clear: both;
  font-size: 24px;
  text-align: center;
  background: #4EBD46;
  color: #fff;
  cursor: pointer; }

.r180 {
  transform: rotate(180deg); }

/*# sourceMappingURL=about.css.map */
