.bah {
  position: relative; }

.bg323232 {
  background: #323232;
  color: #fff; }

.border {
  border: 1px solid #323232; }

.f40 {
  color: #3e3a39; }

.w900 {
  margin: 0 auto; }

.page-top-right {
  position: absolute;
  top: 0;
  right: 0; }

.page-top-left {
  position: absolute;
  top: 0;
  left: 0; }

.page-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0; }

.page-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0; }

@media screen and (min-width: 1920px) {
  .f30 {
    line-height: 60px;
    font-size: 24px; }

  .customization {
    padding: 60px 0; }
    .customization .f30 {
      margin-left: 50px; }

  .mr54 {
    margin-right: 54px; }

  .w228 {
    width: 228px; }

  .w140 {
    width: 140px; }

  .f80 {
    font-size: 60px; }

  .container {
    width: 1750px; }

  .w900 {
    width: 900px; }

  .bah {
    height: 780px; }

  .f90 {
    font-size: 60px; }

  .f40 {
    font-size: 36px;
    line-height: 60px; } }
@media screen and (max-width: 1919px) {
  .f14 {
    font-size: 20px;
    line-height: 36px; }

  .f30 {
    line-height: 40px;
    font-size: 15px; }

  .customization {
    padding: 40px 0; }
    .customization .f30 {
      margin-left: 240px; }

  .mr54 {
    margin-right: 36px; }

  .w140 {
    width: 100px; }

  .w228 {
    width: 160px; }

  .bah {
    height: 520px; }

  .f80 {
    font-size: 40px; }

  .w900 {
    width: 600px; }

  .f90 {
    font-size: 40px; }

  .f40 {
    font-size: 20px;
    line-height: 48px; } }
.w400 {
  width: 400px; }

.f14 {
  font-size: 14px;
  line-height: 24px; }

.content_wrap {
  margin: 20px auto;
  overflow: hidden;
  width: 1200px;
  position: relative; }
  .content_wrap .hr {
    position: absolute;
    z-index: -1;
    top: 91px;
    width: 1120px;
    height: 2px;
    background: #7d7a7b; }
  .content_wrap .box {
    float: left;
    width: 320px;
    box-sizing: border-box;
    margin-right: 80px;
    margin-bottom: 50px; }
    .content_wrap .box .index {
      width: 70px;
      height: 70px;
      border: 2px solid #2dba3a;
      border-radius: 74px;
      float: left;
      margin-top: 60px;
      background: #fff;
      font-size: 28px;
      line-height: 64px; }
    .content_wrap .box .circle {
      float: right;
      box-sizing: border-box;
      width: 194px;
      height: 194px;
      border: 2px solid #2dba3a;
      border-radius: 194px;
      z-index: 200;
      background: #fff;
      padding-top: 26px; }
      .content_wrap .box .circle:nth-last-child {
        padding-top: 38px; }

.step_content {
  width: 900px;
  height: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  border-top: 1px solid #7d7a7b;
  border-left: 1px solid #7d7a7b; }
  .step_content .step {
    float: left;
    width: 33.3%;
    height: 50%;
    border-bottom: 1px solid #7d7a7b;
    border-right: 1px solid #7d7a7b;
    position: relative;
    padding: 76px 30px 0 88px;
    text-align: left; }
    .step_content .step i {
      position: absolute;
      top: 28px;
      left: 28px;
      color: #2dba3a;
      font-size: 40px;
      font-style: normal; }

.certificate {
  width: 1350px;
  margin: 0 auto; }
  .certificate .box {
    width: 20%;
    float: left;
    text-align: center; }
    .certificate .box .year {
      font-size: 18px;
      font-weight: bold;
      line-height: 30px; }

/*# sourceMappingURL=page.css.map */
