body {
  padding-top: 65px; }

.h380 {
  height: 380px; }

.h300 {
  height: 300px; }

.w360 {
  width: 300px; }

.w300 {
  width: 250px; }

.w180 {
  width: 150px; }

.ml96 {
  margin-left: 96px; }

.w200 {
  width: 200px; }

.ba-text {
  width: 720px; }

.ba-img {
  width: calc(100% - 720px); }

.w1500 {
  width: 1200px;
  margin: 0 auto; }

.icon-1 {
  padding-top: 11px; }

.icon-2 {
  padding-top: 11px; }

.icon-3 {
  padding-top: 20px; }
  .icon-3 img {
    height: 89px; }

.icon2-2 {
  padding-top: 20px; }

.icon-4-1 {
  padding-top: 15px; }

.icon-4-2 {
  padding-top: 13px; }

.icon-4-3 {
  padding-top: 13px; }

.icon7-1 {
  padding-top: 15px; }

.icon7-2 {
  padding-top: 15px; }

.text-inner {
  width: 480px;
  margin: 100px auto;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px 30px; }
  .text-inner h1 {
    font-size: 36px; }
  .text-inner p {
    font-size: 20px;
    color: #504C4B;
    line-height: 36px; }

.wuliu {
  width: 600px; }
  .wuliu .wuliu_warpar {
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center; }
    .wuliu .wuliu_warpar img {
      width: 100%; }
    .wuliu .wuliu_warpar span {
      font-size: 18px;
      line-height: 30px; }
      .wuliu .wuliu_warpar span .icon {
        display: inline-block;
        vertical-align: bottom;
        background: #6699FF;
        border: 1px solid transparent;
        width: 29px;
        height: 29px;
        border-radius: 30px;
        color: #fff; }

ul.time {
  width: calc(100% - 300px);
  margin-top: 100px; }
  ul.time li {
    float: left; }
    ul.time li:nth-child(odd) {
      width: 100px;
      height: 100px;
      border: 2px double  #aaa;
      border-radius: 100px;
      line-height: 100px;
      text-align: center;
      font-size: 20px; }
    ul.time li:nth-child(even) {
      border: 2px solid #7D7A7B;
      width: 100px;
      position: relative;
      top: 49px;
      margin: 0 5px; }

@media screen and (max-width: 1919px) {
  .w1500 {
    width: 1200px; }

  .ba-text {
    width: 600px; }

  .ba-img {
    width: calc(100% - 600px); }

  .ml96 {
    margin-left: 80px; }

  .w200 {
    width: 167px; }

  .w640 {
    width: 530px; }

  .bah {
    height: 520px; }

  .h300 {
    height: 250px; }

  .icon11-3 {
    padding-top: 5px; }

  .icon11-4 {
    padding-top: 8px; }
    .icon11-4 img {
      height: 60px; }

  .icon12-1 {
    padding-top: 5px; } }
section.product-nav {
  padding: 0 30px;
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #fff; }
  section.product-nav .wrap {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%; }
    section.product-nav .wrap .title {
      font-size: 18px;
      color: #333;
      line-height: 60px;
      font-weight: bold; }

.BAf-icon {
  margin: 10px auto;
  text-align: center; }
  .BAf-icon .Bicon-box {
    display: inline-block;
    margin: 0 20px;
    vertical-align: bottom; }

.bah {
  width: 100%;
  overflow: hidden;
  position: relative; }

.BA-banner {
  position: relative;
  clear: both; }
  .BA-banner div.wrap {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
    .BA-banner div.wrap::after {
      display: block;
      clear: both;
      content: ''; }
    .BA-banner div.wrap div.ba-img {
      padding: 40px 40px;
      text-align: center; }
    .BA-banner div.wrap div.ba-top {
      margin-top: 30px; }
    .BA-banner div.wrap div.ba-bottom div.img img {
      width: 300px; }
    .BA-banner div.wrap div.ba-text h1, .BA-banner div.wrap div.ba-top h1 {
      margin-bottom: 20px; }
    .BA-banner div.wrap div.ba-text .icon-box, .BA-banner div.wrap div.ba-top .icon-box {
      margin-top: 5px; }
      .BA-banner div.wrap div.ba-text .icon-box .icon, .BA-banner div.wrap div.ba-top .icon-box .icon {
        display: inline-block;
        vertical-align: bottom;
        margin: 0 20px;
        width: 100px; }
        .BA-banner div.wrap div.ba-text .icon-box .icon img, .BA-banner div.wrap div.ba-top .icon-box .icon img {
          width: 100%; }
    .BA-banner div.wrap div img {
      max-width: 100%; }

.BAf-icon.mini .Bicon-box {
  width: 100px;
  height: 100px;
  border-radius: 100px; }
  .BAf-icon.mini .Bicon-box img {
    height: 50px; }
.BAf-icon .Bicon-box {
  width: 150px;
  height: 150px;
  border: 1px solid #D6EAD4;
  padding: 8px;
  border-radius: 150px; }
  .BAf-icon .Bicon-box .icon {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 100px;
    border: 1px solid transparent;
    background: #F4FCF5; }
    .BAf-icon .Bicon-box .icon img {
      text-align: center; }

.bg-top-right {
  position: absolute;
  right: 0;
  top: 0; }
  .bg-top-right img {
    width: 100%; }

.bg-top-left {
  position: absolute;
  left: 0;
  top: 0; }
  .bg-top-left img {
    width: 100%; }

.bg-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0; }
  .bg-bottom-left img {
    width: 100%; }

@keyframes move {
  from {
    transform: translateY(100px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }
@-webkit-keyframes move {
  from {
    transform: translateY(100px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
.f40 {
  color: #6D6B6B; }

.icon1-1 {
  padding-top: 44px; }

.icon1-2 {
  padding-top: 30px; }

@media screen and (min-width: 1920px) {
  .w180 {
    width: 180px; }

  .w300 {
    width: 300px; }

  .w360 {
    width: 360px; }

  .w640 {
    width: 640px; }

  .container {
    width: 1750px; }

  .bah {
    height: 630px; }

  .BAf-icon .Bicon-box {
    width: 150px;
    height: 150px; }

  .ba-text {
    margin-top: 100px; } }
.border_button {
  margin-bottom: 15px; }
  .border_button span {
    font-size: 20px;
    color: #AEAEB8;
    margin: 0 10px;
    padding: 8px 12px;
    border: 2px solid #AEAEB8;
    border-radius: 10px; }

.chushi_warpar .chushui {
  width: 20%;
  display: inline-block;
  position: relative; }
  .chushi_warpar .chushui .img {
    position: relative;
    width: 100%;
    font-size: 18px;
    color: #000; }
    .chushi_warpar .chushui .img:hover {
      transform: scale(1.2); }
  .chushi_warpar .chushui:nth-child(1) .img {
    top: 60%;
    left: 20%; }
  .chushi_warpar .chushui:nth-child(3) .img {
    top: 60%;
    left: -20%; }
  .chushi_warpar .chushui:nth-child(4) .img {
    left: -40%; }

.b10_ul li {
  line-height: 100px;
  font-size: 22px;
  text-align: center; }
  .b10_ul li img {
    width: 40px; }

.f90 {
  font-size: 40px; }

.f40 {
  font-size: 20px;
  line-height: 48px; }

.tableWarpar {
  padding: 50px 100px; }
  .tableWarpar .paramtable {
    width: 100%; }
    .tableWarpar .paramtable thead {
      background: #f5f5f5; }
    .tableWarpar .paramtable td {
      padding: 10px;
      font-size: 16px;
      line-height: 30px;
      text-align: center; }

@media screen and (max-width: 767px) {
  .BA-banner div.wrap {
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    transform: none; } }

/*# sourceMappingURL=product.common.css.map */
