body{
  padding-top: 65px;
}
section.product-nav{
  padding: 0 30px;
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #fff;
  .wrap{
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
    .title{
      font-size: 18px;
      color:#333;
      line-height: 60px;
      font-weight: bold;
    }
  }

}
.BA2-banner{
  margin-top: 60px;
  height: auto;
  padding-top: 65px;
  .BA2-txt{
    animation:move 1000ms 1;
    -webkit-animation:move 1000ms 1;
    h1{
      margin-bottom: 20px;
      font-size: 40px;
      color: #3E3A39;
    }
    h5{
      font-size: 26px;
      color: #3E3A39;
    }
    .B1-img{
      margin-top: 92px;
      img{
        max-width: 100%;
      }
    }
  }
}
.BA2-fashion{
  background: #F1F1F3;
}
.BAf-txt {
  padding-top: 70px;
  color: #383440;
  h1{
    margin-bottom: 45px;
    color: #3E3A39;
  }
}

.BAf-icon{
  margin:10px auto;
  text-align: center;
  .Bicon-box{
    display: inline-block;
    margin: 0 20px;
    vertical-align: bottom;
  }
}

.bah{
  width: 100%;
  height: 645px;
}

.BA-banner{
  position: relative;
  clear: both;

  div.wrap{
    //width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    &::after{
      display: block;
      clear: both;
      content: '';
    }
    div{
      &.ba-img{
        padding: 40px 40px ;
        text-align: center;
      }
      //&.ba-text{
      //  width: 580px;
      //  text-align: left;
      //  height: 100%;
      //}
      &.ba-top{
        margin-top: 30px;
      }
      &.ba-bottom{

        div.img{
          img{
            width: 300px;
          }
        }
        ul.time{
          //width: calc(100% - 300px);
          margin-top: 100px;
          li{
            float: left;
            &:nth-child(odd){
              width: 100px;
              height: 100px;
              border: 2px double  #aaa;
              border-radius: 100px;
              line-height: 100px;
              text-align: center;
              font-size: 20px;


            }
            &:nth-child(even){
                border:2px solid #7D7A7B;
                width: 100px;
                position: relative;
                top: 49px;
                margin: 0 5px;
            }
          }
        }

      }

      &.ba-text, &.ba-top{
        h1{
          margin-bottom: 20px;
          //font-size: 40px;
          //color: #3E3A39;
        }
        p{
          //font-size: 22px;
          //line-height: 42px;
          //color: #918F91;
        }
        .icon-box{
          margin-top: 5px;
          .icon{
            display: inline-block;
            vertical-align: bottom;
            margin: 0 20px;
            width: 100px;
            img{
              width: 100%;
            }

          }
        }
      }
      img{
        max-width: 100%;
      }
    }
  }

}

.BAf-icon{
  .Bicon-box{
    width: 150px;
    height: 150px;
    border: 1px solid #D6EAD4;
    padding: 8px;
    border-radius: 150px;
    .icon{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 100px;
      border: 1px solid transparent;
      background: #F4FCF5;
      img{
        text-align: center;
      }
    }

  }
}




@keyframes move
{
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes move
{
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@media screen  and (min-width: 1920px){
  .f90{
    font-size: 60px;
  }

  .f40{
    font-size: 36px;
    line-height: 60px;

  }
  .BAf-icon{
    .Bicon-box{
      width: 150px;
      height: 150px;
    }
  }
  .ba-text{
    margin-top: 100px;
  }
}
@media screen  and (max-width: 1919px){
  .f90{
    font-size: 40px;
  }
  .f40{
    font-size: 20px;
    line-height: 48px;
  }
  .BAf-icon{
    .Bicon-box{
      width: 100px;
      height: 100px;
      img{
        width: 80%;
      }
    }
  }
  .icon-1{
    padding-top: 11px;
  }
  .icon-2{
    padding-top: 11px;

  }
  .icon-3{
    padding-top: 4px;
    img{
      width: 72% !important;
    }
  }
  .icon1-1{
    padding-top: 34px;
  }
  .icon1-2{
    padding-top: 15px;
    img{
      width: 70% !important;
    }
  }
  .icon2-2{
    padding-top: 11px;
  }

  .text-inner{
    width: 300px;
    margin: 100px auto;
    background: rgba(255,255,255,.3);
    padding: 20px 30px;
    h1{
      font-size: 36px;
    }
    p{
      font-size: 20px;
      color: #504C4B;
      line-height: 36px;
    }
  }
  .wuliu{
    width: 600px;
    .wuliu_warpar{
      float: left;
      width: 50%;
      padding-left: 15px ;
      padding-bottom: 10px;
      box-sizing: border-box;
      text-align: center;
      img{
        width: 100%;
      }
      span{
        font-size: 18px;
        line-height: 30px;
        .icon{
          display: inline-block;
          vertical-align: bottom;
          background: #6699FF;
          border: 1px solid transparent;
          width: 29px;
          height: 29px;
          border-radius: 30px;
          color: #fff;
        }
      }

    }
  }
}





@media screen and (max-width: 1440px){
  .BA-banner .wrap{
  }
}
@media screen and (max-width: 767px){
  .BA-banner div.wrap{
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .bah{
    height: auto;
    padding: 30px 15px 40px;
    box-sizing: border-box;
  }
  .ba-img,.ba-img img,.ba-text{
    width: 100% !important;
    float: none !important;
    text-align: center !important;

  }

}

