.B1_move {
  display: inline-block;
  height: 25px;
  margin: 0 auto;
  cursor: pointer; }
  .B1_move:hover > .B1_dot::after {
    left: 8px; }
  .B1_move .B1_dot {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: 1px solid #4bbc42;
    border-radius: 50%; }
    .B1_move .B1_dot::after {
      content: '';
      position: absolute;
      left: -8px;
      top: 50%;
      width: 24px;
      height: 7px;
      background: url(../image/Transition_arrow.png) no-repeat;
      background-size: 100% 100%;
      transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transition: all .3s; }
  .B1_move span {
    font-size: 18px;
    color: #39c22e;
    line-height: 25px; }

@media screen and (max-width: 1919px) {
  .f90 {
    font-size: 40px; }

  .f40 {
    font-size: 20px; }
    .f40 span:nth-child(1) {
      margin-right: 50px; }

  .banner .banner_container {
    width: 1200px; }
    .banner .banner_container .one_banner {
      height: 540px;
      padding: 64px 400px; }
      .banner .banner_container .one_banner .banner-img {
        top: 100px; }
    .banner .banner_container .two_banner {
      width: 540px;
      height: 540px;
      padding: 70px 70px 0; }
      .banner .banner_container .two_banner .banner-img {
        top: 70px; } }
@media screen and (min-width: 1920px) {
  .w640 {
    width: 640px; }

  .banner .banner_container {
    width: 1680px; }
    .banner .banner_container .one_banner {
      height: 630px;
      padding: 95px 600px; }
      .banner .banner_container .one_banner .banner-img {
        top: 120px; }
    .banner .banner_container .two_banner {
      width: 630px;
      height: 630px;
      padding: 50px 50px 0; }
      .banner .banner_container .two_banner .banner-img {
        top: 94px; }

  .bah {
    height: 630px !important; } }
.w640 {
  width: 430px; }

.f40 {
  color: #6D6B6B; }

.banner {
  width: 100%;
  margin: 100px 0; }
  .banner .banner_container {
    margin: 0 auto; }
    .banner .banner_container::after {
      display: block;
      content: '';
      clear: both; }
    .banner .banner_container .one_banner {
      width: 100%; }
    .banner .banner_container .two_banner, .banner .banner_container .one_banner {
      background: #F0F0F4;
      overflow: hidden;
      box-sizing: border-box; }
      .banner .banner_container .two_banner .banner-img, .banner .banner_container .one_banner .banner-img {
        text-align: center;
        position: relative; }
        .banner .banner_container .two_banner .banner-img img, .banner .banner_container .one_banner .banner-img img {
          width: 100%; }

.BA2-banner {
  height: auto;
  padding-top: 115px; }
  .BA2-banner .BA2-txt {
    animation: move 1000ms 1;
    -webkit-animation: move 1000ms 1; }
    .BA2-banner .BA2-txt .B1-img {
      margin-top: 92px; }
      .BA2-banner .BA2-txt .B1-img img {
        max-width: 100%; }

.bah {
  width: 100%;
  height: 520px;
  overflow: hidden;
  position: relative; }

@keyframes move {
  from {
    transform: translateY(100px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }
@-webkit-keyframes move {
  from {
    transform: translateY(100px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

/*# sourceMappingURL=transition.css.map */
