body{
	padding-top: 65px;
	overflow: hidden;
}
.bah{
	width: 100%;
	height: 645px;
}
/*B1列表*/
.B1_banner{
	padding-top: 80px;
}
.B1_box .B1_dbt{
	display: block;
}
.B1_bt a{
	display: block;
}
.B1_bt h1{
	margin-bottom: 20px;

	font-size: 46px;
	color: #333333;
}
.B1_bt h5{
	margin-bottom: 35px;

	font-size: 20px;
	color: #888888;
}
.B1_move{
	display: inline-block;
	height: 25px;

	margin: 0 auto;
}
.B1_move .B1_dot{
	position: relative;

	display: inline-block;
	width: 25px;
	height: 25px;

	margin-right: 10px;
	border: 1px solid #4bbc42;
	border-radius: 50%;
}
.B1_move .B1_dot:after{
	content: '';

	position: absolute;
	left: -8px;
	top: 50%;

	width: 24px;
	height: 7px;
	background:url(../images/B1arrow.png) no-repeat;
	background-size: 100% 100%;

	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);

	transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
}
.B1_move:hover .B1_dot:after{
	left: 8px;
}
.B1_move a{
	font-size: 14px;
	color: #39c22e;
	line-height: 25px;
}
.B1_move span{
	font-size: 14px;
	color: #39c22e;
	line-height: 25px;
}
.B1-img{
	margin-top: 70px;
}
.B1-img img{
	max-width: 100%;
}
.B1_product {
	width: 100%;
	padding: 65px 360px;
}
.B1_box{
	width: 48.3%;

	padding: 85px 20px 0;

	background-color: #f5f5f5;

	transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
}
.B1_box:nth-child(1){
	margin-right: 3.4%;
}
.B1_img {
	margin-top: 105px;
}
.B1_img img{
	max-width: 100%;
}
@media screen and (min-width: 767px){
	.B1_box:hover{
		transform: translateY(-10px);
		-o-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
	}
}
.B1_cabinet{
	padding-top: 80px;
}
.B1b-img {
	margin-top: 35px;
}
.B1b-img img{
	max-width: 100%;
}
/*endB1列表*/
/*BB2*/
.BA2-banner{
	padding-top: 95px;
}
.BA2-banner,.BB3-banner,.B4-mm{
	margin-top: 60px;
}
.BA2-txt h1{
	margin-bottom: 20px;
	font-size: 56px;
	color: #333333;
}
.BA2-txt h5{
	font-size: 20px;
	color: #888888;
}
.BA2-fashion{
	padding-top: 125px;
}
.BAf-txt h1{
	margin-bottom: 45px;
	color: #333333;
}
.BAf-txt p{
	color: #333333;
	line-height: 2;
}
.BAf-icon{
	margin: 100px auto 0;
	text-align: center;
}
.Bicon-box{
	display: inline-block;
	margin: 0 80px;
}
.BA2-fashion .Bicon-box{
	width: 160px;
}
.BA2-fashion .Bicon-box img{
	width: 100%;
}
.BA-two{
	padding-top: 105px;
	background-size: cover!important;
	min-height: 645px;
	height: auto;
}
.BA-two .BAf-txt h1{
	margin-bottom: 30px;
}
.BA-two .BAf-txt h6{
	margin-bottom: 30px;
	font-size: 12px;
	color: #333333;
}
.BA-two .Bicon-box{
	margin: 0 45px;
	width: 50px;
}
.BA-two .Bicon-box img{
	width: 100%;
}
.BAf-mess{
	margin-top: 70px;
	text-align: center;
}
.BAf-mess p{
	font-size: 12px;
	color: #333333;
}
.BA-america{
	padding-top: 80px;
}
.BA-america .BAf-icon{
	margin: 50px auto 0;
}
.BA-america .BAf-icon img{
	max-width: 100%;
}
.BA-de{
	position: relative;
}
.BA-con{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);

	width: 100%;
}
.BA-de .BA-con{
	padding: 0 380px 0 140px;
}
.BA-left{
	width: calc(100% - 480px);
	padding-top: 60px;
}
.BA-left img{
	max-width: 100%;
}
.BA-right{
	width: 480px;
}
.BA-right h1{
	margin-bottom: 50px;
	font-size: 40px;
	color: #333333;
	line-height: 1.5;
}
.BA-right p{
	font-size: 14px;
	color: #333333;
	line-height: 2;
}
.BA-right .BAr-icon{
	margin: 100px -25px 0;
}
.BA-right .BAr-icon .BAr-box{
	margin: 0 25px;
}
.BA-lv{
	position: relative;
}
.BA-lv .BA-con{
	padding: 0 320px 0 360px;
}
.BA-lv .BA-left{
	text-align: right;
}
.BA-new{
	padding-top: 105px;
}
.BA-new .Bicon-box{
	margin: 0 25px;
}
.BA-carbon{
	position: relative;
	background-color: #f2f2f2;
}
.BA-carbon .BA-con {
	padding: 0 360px;
}
.BA-carbon .BA-left {
    width: calc(100% - 610px);
    padding-top: 85px;
}
.BA-carbon .BA-right {
	width: 610px;
	text-align: right;
}
.BA-nano{
	position: relative;
}
.BA-nano .BA-con {
	padding: 0 360px;
}
.BA-nano .BA-left{
	text-align: right;
}
.wrap{
	position: relative;
	z-index: 2;
	width: 1200px;
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
}
.BB3-txt{
	position: absolute;
	top: 50%;
	left: 0px;

	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.BB3-txt h1{
	font-size: 40px;
	color: #333333;
}
.BB3-txt p{
	margin: 45px 0;

	font-size: 14px;
	color: #333333;
	line-height: 2;
}
.BB3-icon{
	margin: 0 -18px;
}
.BB3-box {
	margin: 0 18px;
}
.BA-allball{
	position: relative;
	padding: 90px 0 0;
}
.Bab-txt {
	text-align: center;
}
.Bab-txt h1{
	margin-bottom:40px; 
	font-size: 40px;
	color: #333333;
}
.Bab-txt p{
	font-size: 14px;
	color: #333333;
	line-height: 2;
}
.Bab-icon{
	margin: 35px 0 0;
	text-align: center;
}
.Bab-img{
	margin-top: 30px;
}
.Bab-box{
	display: inline-block;
	width: 55px;
	height: 55px;
	margin: 0 30px;
}
.Bab-box img{
	width: 100%;
}
.Bab-img img{
	max-width:100%; 
}
.BA-wind .BA-right {
    padding-left: 80px;
}
.BA-double{
	padding-top: 115px;
	background-size: cover!important;
	min-height: 645px;
	height: auto;
}
.BA-double .Bad-txt{
	text-align: center;
}
.BA-double .Bad-txt h1{
	margin-bottom: 35px;
	font-size: 40px;
}
.BA-double .Bad-txt p{
	font-size: 14px;
	line-height: 2;
}
.BA-new{
	padding-top: 80px;
}
.BA-new .Ban-txt{
	text-align: center;
}
.BA-new .Ban-txt h1{
	margin-bottom: 35px;
	font-size: 40px;
}
.BA-new .Ban-txt p{
	margin-bottom: 55px;
	font-size: 14px;
	line-height: 2;
}
.BA-new .Ban-txt .Ban-img{
	display: block;
	margin: 0 auto 50px;
}
.BA-new .Ban-txt img{
	max-width: 100%;
}
.B4-mm{
	padding-top: 70px;
}
.B4-mm .B4m_txt{
	/* opacity: 0;
	animation-fill-mode: forwards; */
	text-align: center;
	animation:move 1000ms 1;
	-webkit-animation:move 1000ms 1;
}
.BA2-txt{
	animation:move 1000ms 1;
	-webkit-animation:move 1000ms 1;
}
.BB3-txt {
	animation:move2 1000ms 1;
	-webkit-animation:move2 1000ms 1; 
}
 @keyframes move
{
	from {
		transform: translateY(100px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
@-webkit-keyframes move
{
	from {
		transform: translateY(100px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
} 
 @keyframes move2
{
	from {
		transform: translateY(-20%);
		opacity: 0;
	}
	to {
		transform: translateY(-50%);
		opacity: 1;
	}
}
@-webkit-keyframes move2
{
	from {
		transform: translateY(-20%);
		opacity: 0;
	}
	to {
		transform: translateY(-50%);
		opacity: 1;
	}
}
.B4-mm .B4m_txt h1{
	margin-bottom: 30px;
	color: #333333;
}
.B4-mm .B4m_txt p{
	margin-bottom: 70px;
	color: #333333;
	line-height: 2;
}
.B4-mm .B4m_txt img{
	max-width: 100%;
}
.B4-care {
	padding-top: 85px;
	text-align: center;
}
.B4-care .B4c-txt h1{
	margin-bottom: 50px;
}
.B4-care .B4c-txt p{
	line-height: 2;
}
.B4-care .B4-mess{
	padding: 90px 0 105px;
	text-align: center;
}
.B4-care .B4-mess .B4-icon{
	display:inline-block;
	margin: 0 40px;
	width: 151px;
}
.B4-care .B4-mess .B4-icon img{
	width: 100%;
}
.B4-weixin {
	padding-top: 155px;
}
.B4-weixin .B4w-txt{
	text-align: center;
}
.B4-weixin .B4w-txt h1{
	margin-bottom: 40px;
}
.B4-weixin .B4w-txt p{
	line-height: 2;
}
.B4-weixin .B4w-txt .B4w-mess{
	padding: 50px 0;
	text-align: center;
}
.B4-weixin .B4w-txt .B4w-mess .B4w-icon{
	display: inline-block;
	margin: 0 25px;
}
.B4-change{
	padding-top: 90px;
}
.B4-change .B4h-txt{
	text-align: center;
}
.B4-change .B4h-txt h1{
	margin-bottom: 45px;
}
.B4-change .B4h-txt p{
	margin-bottom: 100px;
	line-height: 2;
}
.B4-change .B4h-txt .B4h-mess{
	text-align: center;
}
.B4-change .B4h-txt .B4h-mess .B4h-icon{
	display: inline-block;
	margin: 0 70px;
	width: 191px;
}
.B4-change .B4h-txt .B4h-mess .B4h-icon img{
	width: 100%;
}
.B4-newind{
	padding-top: 120px;
	text-align: center;
}
.B4-newind .B4n-txt h1{
	margin-bottom: 35px;
}
.B4-newind .B4n-txt p{
	line-height: 2;
}
.B4-newind .B4n-txt .B4n-mess{
	padding: 60px 0;
}
.B4-newind .B4n-txt .B4n-mess .B4n-icon{
	display: inline-block;
	margin: 0 32px;
}
.B4-wifi{
	padding-top: 95px;
	text-align: center;
}
.B4-wifi h1{
	margin-bottom: 65px;
}
.B4-wifi img{
	max-width: 100%;
}
.f40{
	font-size: 60px;
	color: #383440;
}
.f16{
	font-size: 14px;
}
.BB5{
	text-align: center;
}
.BB5 h1{
	padding: 50px 0 40px;
	font-size: 36px;
	color: #333333;
}
.BB5 h1 span{
	font-size: 30px;
	color: #333333;
}
.BB5-img img{
	max-width: 100%;
}
.BB5-di{
	padding: 120px 0 95px; 
}
.BB5-di .B5-box{
	width: 50%;
	padding: 0 10px;
	text-align: center;
}
.BB5-di .B5-box img{
	max-width: 100%;
}
.BB5-di .B5-box:nth-child(2){
	padding-top: 25px;
}
.tanbox{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
}
.tanform{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;

	width: 870px;
	max-width: 100%;

	background-color: #fff;

	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.tanform .tf-close{
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
.tf-left{
	width: 50%;
}
.tf-left img{
	width: 100%;
}
.tf-right{
	width: 50%;
	padding: 35px 60px 50px 0px; 
}
.tf-right h1{
	font-size: 18px;
	color: #000000;
	font-family: '黑体';
	line-height: 1.5;
}
.tf-con{
	padding: 20px 0 10px;
}
.tf-choose{
	padding-bottom: 15px;
}
.tf-box{
	position: relative;
	width: 48%;
	height: 38px;

	padding-left: 18px;

	border:1px solid #d2d2d2;
	border-radius: 6px;
	line-height: 38px;
	cursor: pointer;
	font-size: 14px;
	color: #aaaaaa;
}
.tf-box:nth-child(1){
	margin-right: 4%;
}
.tf-box select{
	position: relative;
	z-index: 1;
	width: 100%;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;	
	color: #333333;
}
.tf-box img{
	position: absolute;
	top: 50%;
	right: 15px;
	cursor: pointer;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.tf-box ul{
	display: none;
	position: relative;
	z-index: 1;
	padding: 0 20px;
	background-color: #fff;
}
.tf-box ul li{
	padding: 5px 0;
	font-size:14px;
	color: #aaaaaa;
	cursor:pointer;
}
.tf-con input{
	width: 100%;
	height: 38px;
	margin-bottom: 15px;
	padding-left: 18px;

	border:1px solid #d2d2d2;
	border-radius: 6px;
}
.tf-right button{
	width: 80px;
	height: 38px;
	border-radius: 6px;
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
}
.tf-box.act .tf-title .img_s{
	display: none;
}
.tf-box.act .tf-title .img_d{
	display: block;
}
::-moz-placeholder { color: #333333;opacity: 1; }
::-webkit-input-placeholder {  color: #333333;opacity: 1; }
:-ms-input-placeholder { color:#333333;opacity: 1; }
.pro-nav{
	position: fixed;
	z-index: 4;
	width: 100%;
	height: 60px;
	background-color: #ffffff;
}
.pro-nav .title{
	width: 100px;
}
.pro-nav .title h1{
	font-size: 18px;
	font-weight: bold;
	color: #333333;
	line-height: 60px;
}
.pro-nav .pn-con{
	width: calc(100% - 100px);
}
.pro-nav .pn-con li{
	float: left;
	padding: 0 18px;
	line-height: 60px;
}
.pro-nav .pn-con li:last-child{
	padding-right: 0px;
}
.pro-nav .pn-con li.act a{
	color: #39c22e;
}
.pro-nav .pn-con li:hover a{
	color: #39c22e;
}
.pro-nav .pn-con li a{
	font-size: 12px;
	color: #333333;
}
.pro-nav .pn-con li button{
	width: 75px;
	height: 28px;
	border-radius: 6px;
	background-color: #39c22e;
	color: #fff;
	font-size: 12px;
}
/*关于我们*/
.B1-banner{
	position: relative;
	width: 100%;
	height: 560px;
}
.B1-banner img{
	position: absolute;
	top: 0px;
	left: 50%;

	height: 100%;

	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.B1-story{
	padding-top: 50px;
}
.B1s-txt h1{
	margin-bottom: 30px;
}
.B1s-txt p{
	line-height: 1.8;
	margin-bottom: 15px;
}
.B1-mess{
	padding: 55px 0;
}
.B1-mess .slick-dots {
    bottom: -10px;
}
.B1-icon{
	display: inline-block;
	margin: 0 75px;
}
.B1-icon .num-box{
	position: relative;

	width: 140px;
	height: 140px;

	margin: 0 auto 30px;

	border: 1px solid #d2cfcd;
	border-radius: 50%;
	overflow: hidden;
}
.B1-icon .num-box img{
	position: absolute;
	top: -2px;
	left: -2px;

	width: 100%;
}
.B1-icon .num-box span{
	position: absolute;
	top: 50%;
	left: 50%;

	font-size: 42px;
	color: #4bbc42;
	opacity: 0;

	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);

	animation: hide 1s linear 1 normal forwards;
	/* Firefox: */
	-moz-animation: hide 1s linear 1 normal forwards;
	/* Safari 和 Chrome: */
	-webkit-animation: hide 1s linear 1 normal forwards;
	/* Opera: */
	-o-animation: hide 1s linear 1 normal forwards;
}
@keyframes hide
{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@-moz-keyframes hide /* Firefox */
{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@-webkit-keyframes hide /* Safari 和 Chrome */
{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@-o-keyframes hide /* Opera */
{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.B1-icon p{
	font-size: 18px;
	color: #333333;
}
.B1-icon .num-box .xuanzhuan{
	animation: xuanz 1s linear 1 normal forwards;
	/* Firefox: */
	-moz-animation: xuanz 1s linear 1 normal forwards;
	/* Safari 和 Chrome: */
	-webkit-animation: xuanz 1s linear 1 normal forwards;
	/* Opera: */
	-o-animation: xuanz 1s linear 1 normal forwards;
}
@keyframes xuanz
{
	0% {transform: rotate(0deg);top: -2px;left: -2px;bottom: auto;right: auto;opacity: 1;}
	25% {transform: rotate(90deg);top: -2px;right: -2px;left: auto;bottom: auto;opacity: 1;}
	50% {transform: rotate(180deg);bottom: -2px;right: -2px;top: auto;left: auto;opacity: 1;}
	75% {transform: rotate(270deg);bottom: -2px;left: -2px;top: auto;right: auto;opacity: 1;}
	100% {transform: rotate(360deg);top: -2px;left: -2px;bottom: auto;right: auto;opacity: 0;}
}
@-moz-keyframes xuanz /* Firefox */
{
	0% {transform: rotate(0deg);top: -2px;left: -2px;bottom: auto;right: auto;opacity: 1;}
	25% {transform: rotate(90deg);top: -2px;right: -2px;left: auto;bottom: auto;opacity: 1;}
	50% {transform: rotate(180deg);bottom: -2px;right: -2px;top: auto;left: auto;opacity: 1;}
	75% {transform: rotate(270deg);bottom: -2px;left: -2px;top: auto;right: auto;opacity: 1;}
	100% {transform: rotate(360deg);top: -2px;left: -2px;bottom: auto;right: auto;opacity: 0;}
}
@-webkit-keyframes xuanz /* Safari 和 Chrome */
{
	0% {transform: rotate(0deg);top: -2px;left: -2px;bottom: auto;right: auto;opacity: 1;}
	25% {transform: rotate(90deg);top: -2px;right: -2px;left: auto;bottom: auto;opacity: 1;}
	50% {transform: rotate(180deg);bottom: -2px;right: -2px;top: auto;left: auto;opacity: 1;}
	75% {transform: rotate(270deg);bottom: -2px;left: -2px;top: auto;right: auto;opacity: 1;}
	100% {transform: rotate(360deg);top: -2px;left: -2px;bottom: auto;right: auto;opacity: 0;}
}
@-o-keyframes xuanz /* Opera */
{
	0% {transform: rotate(0deg);top: -2px;left: -2px;bottom: auto;right: auto;opacity: 1;}
	25% {transform: rotate(90deg);top: -2px;right: -2px;left: auto;bottom: auto;opacity: 1;}
	50% {transform: rotate(180deg);bottom: -2px;right: -2px;top: auto;left: auto;opacity: 1;}
	75% {transform: rotate(270deg);bottom: -2px;left: -2px;top: auto;right: auto;opacity: 1;}
	100% {transform: rotate(360deg);top: -2px;left: -2px;bottom: auto;right: auto;opacity: 0;}
}
.B1-intro{
	padding-top: 65px;
}
.B1-intro h1{
	margin-bottom: 30px;
}
.B-change p{
	font-size: 16px;
	color: #333333;
	line-height: 1.8;
}
.Bli-box{
	position: relative;

	display: inline-block;
	width: 280px;
	height: 280px;

	margin: 58px;
	border-radius: 50%;
	cursor:pointer;
}
.Bli-box img{
	max-width: 100%;
	transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
}
/*.Bli-box.w30:hover img{
	transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}*/
.Bli-box.w40{
	width: 280px;
	height: 280px;
}
.Bli-box.w40 .B1pic{
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	width: 80%;
}
.Bli-box.w40 .rotate{
	max-width: 100%;
}
@media screen and (min-width: 996px){
	.Bli-box:hover .rotate{
	-webkit-transition: all 1.5s ease-in-out 0s;
	-moz-transition: all 1.5s ease-in-out 0s;
	-ms-transition: all 1.5s ease-in-out 0s;
	-o-transition: all 1.5s ease-in-out 0s;
	transition: all 1.5s ease-in-out 0s;

	-moz-transform: rotate(360deg);
	-moz-transform-origin: center center;
	-webkit-transform: rotate(360deg);
	-webkit-transform-origin: center center;
	-o-transform: rotate(360deg);
	-o-transform-origin: center center;
	transform: rotate(360deg);
	transform-origin: center center;
}
}
.B1-process{
	position: relative;

	padding-top: 65px;
	overflow: hidden;
}
.B1-process:after{
	content: '';

	position: absolute;
	bottom: 249px;
	left: 0px;
	z-index: 1;

	width: 100%;
	height: 2px;

	background-color: #c9cbcc;
}
.B1c-txt h1{
	margin-bottom: 15px;
}
.B1c-txt p{
	line-height: 1.5;
}
.B1c-slick{
	margin-top: 45px;
}
.B1cbox{
	margin: 0 25px;
}
.B1cbox .B1img{
	width: 100%;

	margin-bottom: 10px;
	overflow: hidden;
}
.B1cbox .B1img img{
	width: 100%;

	transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
}
@media screen and (min-width: 996px){
.B1cbox .B1img:hover img{
	transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
}
.B1cbox .B1txt .B1dot{
	position: relative;
	z-index: 2;

	width: 19px;
	height: 19px;

	margin: 30px auto;

	border-radius: 50%;
	background-color: #4bbc42;
}
.B1cbox .B1txt .B1dot:after{
	content: '';

	position: absolute;
	top: 50%;
	left: 50%;

	width: 9px;
	height: 9px;

	background-color: #fff;
	border-radius: 50%;

	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.B1cbox .B1txt h1{
	margin-bottom: 20px;

	font-size: 28px;
	font-weight: bold;
	color: #333333;
}
.B1cbox .B1txt p{
	font-size: 14px;
	color: #656565;
	line-height: 1.8;
}
.B1c-slick .slick-prev{
	top: 56%;
	left: -45px;
	z-index:1;

	width: 24px;
	height: 45px;

	background: url(../images/B1prev.png) no-repeat;
	background-size: 100% 100%;
}
.B1c-slick .slick-prev:hover{
	background: url(../images/in998.png) no-repeat;
	background-size: 100% 100%;
}
.B1c-slick .slick-next{
	top: 56%;
	right: -45px;

	width: 24px;
	height: 45px;

	background: url(../images/B1next.png) no-repeat;
	background-size: 100% 100%;
}
.B1c-slick .slick-next:hover{
	background: url(../images/in997.png) no-repeat;
	background-size: 100% 100%;
}
.B1-idea{
	padding-top: 85px;
}
.B1d-txt h1{
	margin-bottom: 25px;
}
.B1d-mess{
	margin-top: 85px;
}
.B1d-icon{
	width: 25%;
}
.B1d-icon .B1d-img{
	margin-bottom: 25px;
	padding-right: 55px;
	text-align: right;
}
.B1d-icon .B1d-img img{
	max-width: 100%;
}
.B1d-icon .B1d-txt h1{
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
}
.B1d-icon .B1d-txt p{
	font-size: 14px;
	line-height: 2;
}
/*end关于我们*/
/*科技创新*/
.B1-iter{
	background-color: #f7f7f7;
}
.B1t-txt{
	padding-top: 75px;
}
.B1t-txt h1{
	margin-bottom: 30px;
}
.B1t-mess{
	padding-top: 85px;
}
.B1t-mess .slick-list{
	padding-top: 5px;
}
.B1t-img{
	width: 194px;
	margin: 0 auto 35px;
	transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
}
.B1t-img:hover{
	transform: translateY(-5px);
	-o-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
}
.B1t-img img{
	width: 100%;
}
.B1t-word h1{
	font-size: 22px;
	color: #4cbd43;
	margin-bottom: 15px;
}
.B1t-mess .slick-prev{
	top: 56%;
	left: -45px;
	z-index: 1;
	width: 24px;
	height: 45px;
	background: url(../images/B1prev.png) no-repeat;
	background-size: 100% 100%;
}
.B1t-mess .slick-prev:hover{
	background: url(../images/in998.png) no-repeat;
	background-size: 100% 100%;
}
.B1t-mess .slick-next{
	top: 56%;
	right: -45px;
	width: 24px;
	height: 45px;
	background: url(../images/B1next.png) no-repeat;
	background-size: 100% 100%;
}
.B1t-mess .slick-next:hover{
	background: url(../images/in997.png) no-repeat;
	background-size: 100% 100%;
}
.B2-change{
	padding-top: 60px;
}
.B2-change h1.B2-h1{
	margin-bottom: 40px;
}
.B2-title{
	width: 505px;
	max-width: 100%;
	height: 50px;
	margin: 0 auto;
}
.B2-title .B2title-con{
	width: 50%;
	height: 100%;
	background-color: #efefef;
	cursor: pointer;
}
.B2-title .B2title-con p{
	color: #333333;
	line-height: 50px;
}
.B2-title .B2title-con.act{
	background-color: #4cbd43;
}
.B2-title .B2title-con.act p{
	color: #fff;
}
.B2-pimg{
	position: relative;
	width: 890px;
	max-width: 100%;
	margin: 55px auto 0;
	border:1px solid #d2d2d2;
}
.B2-pimg img{
	width: 100%;
}
.B2-pimg .B2img-con{
	width: 50%;
	height: 100%;
	padding-top: 65px;
}
.B2-pimg .B2img-con:nth-child(1){
	border-right:1px solid #d2d2d2;
}
.B2-pimg .B2img-con img{
	max-width: 100%;
	margin-bottom: 15px;
}
.B2-pimg .B2img-con p{
	font-size: 18px;
	color: #333333;
}
.B2-pimg .vs{
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.B2ch-con{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 75px;
}
.B2ch-con .B2ch-box{
	position: relative;
	width: 50%;
	height: 265px;
	padding: 45px 45px 0 85px;
	border-bottom:1px solid #d2d2d2;
	border-left:1px solid #d2d2d2;
	border-right:1px solid #d2d2d2;
	visibility: visible;
	animation-name: fadeInUp;
	animation-delay: .2s;
}
.B2ch-con .B2ch-box:nth-child(1){
	border-top:1px solid #d2d2d2;
}
.B2ch-con .B2ch-box:nth-child(2){
	border-top:1px solid #d2d2d2;
	animation-delay: .3s;
}
.B2ch-con .B2ch-box:nth-child(even){
	border-left:none;
	animation-delay: .3s;
}
.B2ch-con .B2ch-box .B2ch-num{
	position: absolute;
	top: 33px;
	left: 25px;
	width: 45px;
	height: 45px;
	border:2px solid #4cbd43;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
	font-size: 20px;
	color: #4cbd43;
}
.B2ch-con .B2ch-box h1{
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: bold;
	color: #4cbd43;
}
.B2ch-con .B2ch-box li{
	position: relative;
	padding-left: 80px;
}
.B2ch-con .B2ch-box li span{
	position: absolute;
	top: 0px;
	left: 0px;

	display: inline-block;
	width: 80px;

	padding-left: 20px;

	font-size: 14px;
	color: #555555;
	line-height: 2;
}
.B2ch-con .B2ch-box li span:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 0px;

	width: 9px;
	height: 9px;

	border:2px solid #bae6b7;
	border-radius: 50%;

	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.B2ch-con .B2ch-box li p{
	font-size: 14px;
	color: #555555;
	line-height: 2;
}
.B2-user{
	padding-top: 130px;
}
.B2u-txt p{
	margin: 45px 0;
	line-height: 1.8;
}
.B2u-mess .B2u-icon{
	display: inline-block;
	width: 70px;
	margin-right: 50px;
}
.B2u-mess .B2u-icon img{
	width: 100%;
}
/*end科技创新*/
.D3-example{
	padding-top: 55px;
}
.D3-example h1{
	text-align: center;
	margin-bottom: 30px;
}
.D3-title{
	margin-bottom: 45px;
	text-align: center;
}
.D3t-box {
	display: inline-block;
	height: 50px;
	text-align: center;
	background-color: #efefef;
	cursor: pointer;
}
.D3t-box a{
	display: inline-block;
	width: 100%;
	height: 100%;

	padding: 0 65px;

	color: #333333;
	font-size: 16px;
	line-height: 50px;
}
.D3t-box.act{
	background-color: #4cbd43;
}
.D3t-box.act a{
	color: #fff;
}
.D3-con {
	width: 100%;
}
.D3c-top {
	margin: 0 -20px 0px;
}
.D3c-top .D3c-box{
	position: relative;
	width: 50%;
	padding: 0 20px;
	margin-bottom: 100px;
}
.D3c-box .D3c-img{
	width: 100%;
	overflow: hidden;
}
.D3c-box .D3c-img img{
	width: 100%;
}
.D3c-box .D3c-txt{
	position: absolute;
	bottom: -50px;
	left: 50%;
	width: 83%;
	padding: 30px 0;
	text-align: center;
	cursor: pointer;
	background-color: #f8f8f8;
	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
}
.D3c-box .D3c-txt h2{
	font-size: 24px;
	color: #333333;
	line-height: 1.5;
	margin-bottom: 10px;
}
.D3c-box .D3c-txt p{
	font-size: 16px;
	color: #666666;
}
.D3c-box .D3c-txt .B1_move{
	height: 0px;
	opacity: 0;
}
.D3c-bottom{
	margin: 0 -12px 0;
}
.D3c-bottom .D3c-box{
	position: relative;
	width: 33.3333%;
	padding: 0 12px;
	margin: 0 0 90px;
}
.D3c-bottom .D3c-box .D3c-txt h2{
	font-size: 18px;
}
.D3c-bottom .D3c-box .D3c-txt p{
	font-size: 14px;
}
.D3c-box:hover .D3c-txt{
	background-color: rgba(75,188,66,.9);
}
.D3c-box:hover .D3c-txt h2{
	color: #fff;
}
.D3c-box:hover .D3c-txt p{
	color: #fff;
}
.D3c-box .D3c-txt .B1_move{
	transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
}
.D3c-box:hover .D3c-txt .B1_move{
	height: auto;
	margin-top: 20px;
	opacity: 1;
}
.D3c-box:hover p.img_s{
	display: none;
}
.D3c-box:hover p.img_d{
	display: block;
}
.D3c-box .D3c-txt .B1_move .B1_dot{
	border:1px solid #fff;
}
.D3c-box .D3c-txt .B1_move .B1_dot::after {
	background: url(../images/Darrow.png) no-repeat;
}
.D3c-box .D3c-txt .B1_move a {
	color: #fff;
}
.D2-parpre{
	padding-top: 80px;
	padding-bottom: 85px;
}
.D2-parpre h1{
	text-align: center;
}
.D2p-mess{
	margin: 85px -55px 0;
}
.D2p-mess .D2p-con{
	width: 33.333%;
	padding: 0 55px;
	text-align: center;
}
.D2p-mess .D2p-con .D2p-img{
	margin-bottom: 40px;
}
.D2p-mess .D2p-con p{
	color: #333333;
	line-height: 2;
}
.D2-focus{
	padding-top: 80px;
}
.D2-focus h1{
	text-align: center;
}
.D2f-mess{
	margin: 80px -15px 0;
}
.D2f-mess .D2f-con{
	width: 25%;
	padding: 0 15px;
	text-align: center;
}
.D2f-mess .D2f-con .D2f-img{
	position: relative;
	margin-bottom: 60px;
}
.D2f-mess .D2f-con .D2f-img .D2f-num{
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #4bbc42;
	border-radius: 50%;
	color: #fff;
	font-size: 14px;
	transform: translate(-50%,50%);
	-o-transform: translate(-50%,50%);
	-ms-transform: translate(-50%,50%);
	-moz-transform: translate(-50%,50%);
	-webkit-transform: translate(-50%,50%);
}
.D2f-mess .D2f-con p{
	color: #333333;
	line-height: 2;
	font-size: 14px;
}
.D2-furred{
	padding-top: 70px;
}
.tc{
	text-align: center;
}
.D2u-con {
	margin: 50px 0 80px;
}
.D2u-con .D2u-box{
	width: 33.333%;
	height: 220px;
	padding:45px 50px 0 45px;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
}
.D2u-con .D2u-box:nth-child(1),
.D2u-con .D2u-box:nth-child(2),
.D2u-con .D2u-box:nth-child(3){
	border-top: 1px solid #e5e5e5;
}
.D2u-con .D2u-box:nth-child(3n+0){
	border-right: 1px solid #e5e5e5;
}
.D2u-con .D2u-box h2{
	font-size: 40px;
	color: #4bbc42;
	margin-bottom: 30px;
}
.D2u-con .D2u-box p{
	color: #555555;
	line-height: 1.8;
}
.D2-floor{
	padding-top: 130px;
}
.D2-floor ul{
	margin:50px 0 70px;
}
.D2-floor ul li{
	position: relative;
	padding-left: 25px;
	font-size: 16px;
	color: #333333;
	line-height: 2;
}
.D2-floor ul li:after{
	content: '';
	position: absolute;
	top: 10px;
	left: 0px;
	width: 9px;
	height: 9px;
	border: 2px solid #b1d8a6;
	border-radius: 50%;
}
.D2-floor .D2l-mess{
	margin: 0 -25px;
}
.D2-floor .D2l-icon{
	display: inline-block;
	margin: 0 25px;
}
.D2-open{
	padding-top: 145px;
}
.D2o-con{
	width: 50%;
}
.D2-open ul{
	margin:50px 0 70px;
}
.D2-open ul li{
	position: relative;
	padding-left: 25px;
	font-size: 16px;
	color: #333333;
	line-height: 2;
}
.D2-open ul li:after{
	content: '';
	position: absolute;
	top: 10px;
	left: 0px;
	width: 9px;
	height: 9px;
	border: 2px solid #b1d8a6;
	border-radius: 50%;
}
.D2-open .D2l-mess{
	margin: 0 -25px;
}
.D2-open .D2l-icon{
	display: inline-block;
	margin: 0 25px;
}
.C2m-top{
	padding-top: 75px;
}
.C2m-top .C2m-choose{
	position: relative;
	left: 50%;
	z-index: 1;
	display: inline-block;
	margin: 40px 0 50px;
	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.C2m-top .C2m-choose .C2m-address{
	width: 280px;
	height: 45px;
	margin: 0 7px;
}
.C2m-top .C2m-choose .C2m-address img{
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.C2m-top .C2m-choose .C2m-address.act .img_s{
	display: none;
}
.C2m-top .C2m-choose .C2m-address.act .img_d{
	display: block;
}
.C2m-top .C2m-choose .C2m-address .C2m-title{
	position: relative;
	width: 100%;
	height: 100%;
	padding-left: 35px;
	line-height: 45px;
	border: 1px solid #dcdcdc;
	border-radius: 6px;
	color: #333333;
	font-size: 16px;
	text-align: left;
	cursor: pointer;
}
.C2m-top .C2m-choose .C2m-address ul{
	display: none;
	position: relative;
	z-index: 1;
	padding: 0 0 0 20px;
	background-color: #fff;
	max-height: 287px;
	overflow: hidden;
}
.C2m-top .C2m-choose .C2m-address ul li{
	padding: 5px 0;
	font-size: 14px;
	color: #666;
	cursor: pointer;
}
.C2m-top .C2m-choose button{
	width: 108px;
	height: 45px;
	background-color: #4bbc42;
	font-size: 16px;
	border-radius: 6px;
}
.C2m-top .C2m-choose button a{
	color: #fff;
}
.C2m-top .map{
	width: 100%;
	height: 640px;
}
.C2m-contact{
	position: relative;
}
.C2m-contact .C2m-contact{
	position: absolute;
	top: 20%;
	right: 18.75%;

	width: 275px;
	padding: 25px 0px 120px 0px;
	background:url(../images/C2m-map.png) no-repeat;
	background-size: 100% 100%;
	/* transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%); */
}
.C2m-con .slick-slide{
	padding-left: 30px;
	padding-right: 45px;
}
.C2m-con p.slick-slide{
	line-height: 1.5;
	font-size: 16px;
	color: #ffffff;
}
.C2m-contact .C2m-contact h1{
	position: relative;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	line-height: 1.5;
}
.C2m-contact .C2m-contact h1:after{
	content: '';
	position: absolute;
	bottom: -20px;
	left: -30px;
	width: 100%;
	height: 5px;
	background:url(../images/line.png) no-repeat;
}
.C2m-contact .C2m-contact .C2m-txt{
	margin: 40px 0;
}
.C2m-contact .C2m-contact .C2m-txt li{
	position: relative;
	margin-bottom: 10px;
	padding-left: 30px;
	line-height: 1.5;
	font-size: 16px;
	color: #ffffff;
}
.C2m-contact .C2m-contact .C2m-txt li img{
	position: absolute;
	top: 0px;
	left: 0px;
}
.C2m-contact .C2m-contact button{
	width: 138px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 6px;
}
.C2m-contact .C2m-contact button a{
	font-size: 16px;
	color: #fff;
}
.C2m-contact .C2m-contact button a img{
	margin-right: 10px;
}
.C2m-contact .C2m-contact span{
	display: none;
}
.C2m-contact .slick-dots {
    bottom: -40px;
    padding-left: 30px;
    text-align: left;
}
.C2m-contact .slick-dots li{
	width: 10px;
	height: 10px;
	border: 2px solid #9ad994;
	background:transparent;
}
.C2m-contact .slick-dots li.slick-active{
	border: 0px;
	background-color: #fff;	
}
.side{
	position: fixed;
	top: 50%;
	left: 60px;
	z-index: 3;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.side li{
	position: relative;
	padding-left: 29px;
	font-size: 14px;
	color: #333333;
	margin-bottom: 50px;
	cursor: pointer;
}
.side li:before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 10px;
	border: 3px solid #9fdb9b;
	border-radius: 50%;
	background-color: #ffffff;
}
.side li:after{
	content: '';
	position: absolute;
	top: 15px;
	left: 7px;
	width: 1px;
	height: 50px;
	background-color: #9fdb9b;
}
.side li:last-child:after{
	display: none;
}
.side li.act:before{
	border: 3px solid #4bbc42;
}
.side li.act{
	color: #4bbc42;
}
.fpage{
	padding-bottom: 40px;
	margin-top: 0px;
}
.fpage p{
	font-size: 16px;
	color: #333333;
	line-height: 24px;
}
.danye{
	margin-top: 0px;
}
.d615{
	margin-top: 150px;
}
/*fouocok*/
.o_re{
	position: relative;
	padding-top: 56px;
}
.oo_re{
	position: relative;
}
.o_ab{
	position: absolute;
	left: calc((100% - 1200px)/2);
	top:22px;
}
.oo_pt{
	padding-top: 0;
}
.oo_abb{
	position: absolute;
	left: 50%;
	bottom:0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.oo_mar{
	margin: 40px auto;
	text-align: center;
}
.oo_icon{
	text-align: left;
	margin-left: -30px;
}
.o_pad2{

}
.xx_text1{
	position: relative;
	margin-top: 60px;
}
.xx_img1{
	position: absolute;
	top: 60px;
	left: calc((100% - 1060px) / 2);
	margin-top: 0;
}
.aa_a1{
	width: 700px;
	margin-left: 44.27%;
}
.aa_a1 .BAf-txt p{
	text-align: left;
}
.aa_a1 .Bicon-box{
	margin: 0 25px;
}
.aa_a2 .BA-right{
	width: 580px;
}
.aa_a3{
	font-size: 12px;
	color: #333333;
	text-align: center;
	margin-top: 15px;
}
.aa_a4 .B4-care .B4-mess .B4-icon{
	margin: 0 25px;
	width: 76px;
}
.aa_a4 .B4-care .f16{
	margin-top: 30px;
}
.aa_a5 .Bicon-box{
	margin: 0 40px;
}
.aa_a6 .hide{
	display: none;
}
.aa_a7 .BAf-mess{
	margin-top: 0;
}
.aa_a8.BA-two .Bicon-box{
	width: 60px;
}
.aa_a9 img{
	max-width: 100%;
}
.aa_a10{
	height: 500px;
	overflow: hidden;
}
.aa_11.BA-carbon .BA-right{
	padding-top: 85px;
}

.B1pica_box{
	width: 180px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);	
}

.B1pica_box:hover img{
	transform: scale(1.4);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
/*.Bli-box.w30:hover img{
	transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}*/

.quana{
	display:none;
}
.Bli-box.active .quana{
	display:block;
}
.count span{
	display:none;
}