@media screen and (max-width: 1680px){
	.BA-de .BA-con {
	    padding: 0 140px 0 140px;
	}
	.BA-lv .BA-con {
	    padding: 0 140px;
	}
}
@media screen and (max-width: 1440px){
	.B1_product {
	    padding: 65px 220px;
	}
	.BA-carbon .BA-con {
	    padding: 0 140px;
	}
	.BA-nano .BA-con {
	    padding: 0 140px;
	}
	.BA-de .BA-con {
	    padding: 0 70px 0 0px;
	}
	.aa_a1 {
		width: 700px;
		margin-left: 35.27%;
	}
}
@media screen and (max-width: 1200px){
	.xx_img1{
		position: relative;
		top:0;
		left: 0;
		margin-top: 60px;
	}
	.BB3-txt {
	    left: 30px;
	}
	.BA-con {
		padding: 0 30px;
	}
	.B1-icon {
	    margin: 0 30px;
	}
	.Bli-box {
	    margin: 60px 10px;
	}
	.B1c-slick .slick-prev {
	    left: -10px;
	}
	.B1c-slick .slick-next{
	    right: -10px;
	}
	.B1-process::after {
		display: none;
	}
	.B1cbox .B1txt .B1dot {
		margin: 10px auto;
	}
	.B1cbox .B1txt h1 {
	    margin-bottom: 10px;
	}
	.B1t-mess .slick-prev {
	    left: 0px;
	}
	.B1t-mess .slick-next{
	    right: 0px;
	}
	.B2ch-con .B2ch-box {
	    padding: 25px 25px 0 65px;
	}
	.B2ch-con .B2ch-box .B2ch-num {
	    top: 25px;
	    left: 15px;
	    width: 35px;
	    height: 35px;
	    line-height: 32px;
	    font-size: 18px;
	}
	.bah {
	    padding: 30px 30px 0;
	}
	.side {
		display: none;
	}
	.B2ch-card{
		padding: 0 30px;
	}
	.D3-example {
	    padding: 55px 30px 0;
	}
	.B4-change .B4h-txt .B4h-mess .B4h-icon {
	    margin: 0 50px;
	}
	.BB5 {
		padding: 0 30px;
	}
	.pro-nav {
		padding: 0 30px;
	}
	.o_re{
		padding-top: 0;
	}
	.o_ab{
		position: relative;
		left: auto;
		top: auto;
	}
}
@media screen and (max-width: 1199px){
	.aa_a1 {
		width: 100%;
		margin-left: 0%;
	}
	.aa_a1 .BAf-txt p{
		text-align: center;
	}
}
@media screen and (max-width: 991px){
	.B1_product {
	    padding: 65px 40px;
	}
	.B4-change .B4h-txt .B4h-mess .B4h-icon {
	    width: 140px;
	}
	.B1-img.oo_abb img{
		width: 768px;
		max-width: 768px;
	}
/*	.Bli-box.active .quana{
		display:none!important;
	}*/
	.Bli-box {
    	width: 32%!important;
    	height: 272px!important;
    	margin: 0px;
	}
	.B1pica_box{
	    width: 100%;
	    height: auto;
	    position: absolute;
	    top: 50%!important;
	    left:50%!important;
	    transform: translate(-50%,-50%)!important; 
	}
	.Bli-box.w40 .B1pic{
		width:100%;
	}
	.quana{
		position:relative;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
	}
}
@media screen and (max-width: 768px){
/*	.Bli-box img{
		display:none;
	}*/
	.B1_banner {
	    height: 460px;
	    padding-top: 55px;
	    background-size: 1360px !important;
	}
	.B1_bt h1 {
	    font-size: 36px;
	}
	.B1_product {
	    padding: 40px 30px;
	}
	.B1_box {
	    padding: 50px 20px 0;
	}
	.B1_img {
	    margin-top: 70px;
	}
	.bah{
		height: auto;
	    padding: 30px 15px 30px;
	}
	.BA2-txt h1 {
		font-size: 36px;
	}
	.BAf-txt h1 {
	    font-size: 30px;
	}
	.BAf-icon {
	    margin: 55px auto 0;
	}
	.BA2-fashion .Bicon-box {
	    width: 100px;
	}
	.o_pad2{
		padding-top: 60px;
	}
	.o_pad2 .BA-right h1{
		margin-bottom: 20px;
	}
	.Bicon-box {
	    margin: 0 30px;
	}
	.BAf-mess {
	    margin-top: 50px;
	}
	.BA-left {
		width: 100%;
		margin-top: 30px;
		text-align: center;
	}
	.BA-carbon .BA-left {
		width: 100%;
		padding-top: 0px;
	}
	.BA-left img{
		max-width: 60%;
	}
	.BA-nano .BA-left {
	    text-align: center;
	}
	.BA-lv .BA-left {
	    text-align: center;
	}
	.BA-right,
	.aa_a2 .BA-right{
		width: 100%;
		text-align: center;
	}
	.BA-de .BA-con {
		padding: 0px;
		text-align: center;
	}
	.BA-right h1 {
		font-size: 30px;
	}
	.BA-right .BAr-icon {
		text-align: center;
	}
	.BA-right .BAr-icon .BAr-box {
	    float: none;
	    display: inline-block;
	}
	.BA-carbon .BA-right {
		width: auto;
		text-align: center;
	}
	.BA-right .BAr-icon {
	    margin: 30px -25px 0;
	}
	.BB3-banner{
		padding-top: 30px;
	}
	.BB3-txt h1 {
		font-size: 36px;
	}
	.BB3-txt p {
	    margin: 30px 0;
	}
	.Bab-txt h1 {
	    margin-bottom: 30px;
	    font-size: 30px;
	}
	.Bab-icon {
	    margin: 20px 0 20px -30px;
	}
	.Bab-box {
	    width: 30px;
	    height: 30px;
	}
	.BA-wind .BA-right {
	    padding-left: 0px;
	}
	.BA-new .Ban-txt p {
	    margin-bottom: 20px;
	}
	.BA-new .Ban-txt .Ban-img {
	    margin: 0 auto 20px;
	    width: 80px;
	}
	.BA-new .Ban-txt .Ban-img2{
	    width: 190px;
	}
	.B4-mm .B4m_txt p {
	    margin-bottom: 30px;
	}
	.B4-mm .B4m_txt img {
	    width: 140px;
	}
	.B4-care .B4-mess {
	    padding: 40px 0 105px;
	}
	.B4-care .B4-mess .B4-icon {
	    margin: 0 20px;
	    width: 100px;
	}
	.B4-change .B4h-txt p {
	    margin-bottom: 60px;
	}
	.B4-change .B4h-txt .B4h-mess .B4h-icon {
		width: 100px;
	    margin: 0 25px;
	}
	.f40{
	    font-size: 30px;
	}
	.BB5 h1 {
		font-size: 30px;
	}
	.BB5 h1 span {
	    font-size: 24px;
	}
	.B1-banner {
	    height: 320px;
	}
	.B1s-txt {
	    padding-top: 0px;
	}
	.B1s-txt p {
	    font-size: 14px !important;
	}
	.B1s-txt p span{
	    font-size: 14px !important;
	}
	.B1-mess {
	    padding: 0px 0;
	}
	.B1-icon {
	    margin: 0 15px;
	}
	.B1-icon .num-box {
	    width: 80px;
	    height: 80px;
	    margin: 0 auto 15px;
	}
	.B1-icon .num-box span {
	    font-size: 26px;
	}
	.Bli-box {
	    width: 120px;
	    height: 116px!important;
	}
	.Bli-box.w40 {
	    width: 170px;
	    height: 170px;
	}
	.B1c-slick {
	    margin-top: 10px;
	}
	.B1d-mess {
	    margin-top: 20px;
	}
	.B1d-icon .B1d-img {
	    text-align: center;
	    padding-right: 0px;
	}
	p br{
		display: none;
	}
	.B1-story {
		height: auto;
		background-size: 1920px !important;
	}
	.B1t-txt {
	    padding-top: 0px;
	    padding-bottom: 20px;
	}
	.B1t-mess {
	    padding-top: 30px;
	}
	.B2ch-con .B2ch-box {
		width: 100%;
		border-right: 1px solid #d2d2d2;
	}
	.B2ch-con .B2ch-box:nth-child(2) {
	    border-top: 0px;
	}
	.D3c-top .D3c-box {
		width: 100%;
	}
	.D3c-bottom .D3c-box {
	    width: 50%;
	}
	.D2p-mess {
	    margin: 85px 0 0;
	}
	.D2p-mess .D2p-con {
	    padding: 0 5px;
	}
	.D2f-mess {
	    margin: 30px 0px 0;
	}
	.D2f-mess .D2f-con .D2f-img {
	    margin-bottom: 33px;
	}
	.D2u-con .D2u-box {
	    width: 50%;
	}
	.D2u-con .D2u-box:nth-child(3) {
	    border-top: 0px;
	}
	.D2u-con .D2u-box:nth-child(3n) {
	    border-right: 0px;
	}
	.D2u-con .D2u-box:nth-child(2n) {
	    border-right: 1px solid #e5e5e5;
	}
	.D2o-con {
	    width: 100%;
	    float: none;
	}
	.D2f-mess .slick-dots {
	    bottom: -20px;
	}
	.C2m-top .C2m-choose .C2m-address {
	    width: 180px;
	}
	.C2m-top .C2m-choose .C2m-address .C2m-title {
	    padding-left: 10px;
	}
	.C2m-contact .C2m-contact {
	    right: 5.75%;
	}
	.B2-change {
		padding: 30px 15px 0;
	}
	.B2-change h1.B2-h1 {
	    margin-bottom: 30px;
	}
	.BA-con {
	    position: relative;
	    left: auto;
	    top:auto;
	    transform: translate(0px,0px);
	    -o-transform: translate(0px,0px);
	    -ms-transform: translate(0px,0px);
	    -moz-transform: translate(0px,0px);
	    -webkit-transform: translate(0px,0px);
	}
	.BA-right .BAr-icon .BAr-box {
	    margin: 0 10px;
	}
	.BB3-txt {
	    position: relative;
	    top: auto;
	    left: auto;
	    transform: translateY(0);
	    -o-transform: translateY(0);
	    -ms-transform: translateY(0);
	    -moz-transform: translateY(0);
	    -webkit-transform: translateY(0);
	}
	.B2ch-card {
	    padding: 0 0px;
	}
	.B2ch-con .B2ch-box {
	    height: auto;
	    padding: 25px 25px 25px 65px;
	}
	.BA-left{
		padding-top: 0px;
	}
	.d615{
		margin-top: 0px;
	}
}
@media screen and (max-width: 767px){
	.aa_11.BA-carbon .BA-right{
		padding-top: 0;
	}
	.aa_a6 .hide{
		display: block;
	}
	.xx_text1{
		margin-top: 0;
	}
	.xx_img1{
		margin-top: 30px;
	}
	.Bab-icon {
		margin: 20px 0 20px -15px;
	}
	.oo_re.bah{
		height: auto;
		min-height: 0;
		padding-bottom: 0;
	}
	.oo_abb{
		position: relative;
		left: 0;
		-webkit-transform: translateX(-0%);
		-moz-transform: translateX(-0%);
		-ms-transform: translateX(-0%);
		-o-transform: translateX(-0%);
		transform: translateX(-0%);
	}
	.B1-img.oo_abb img {
		width: 100%;
		max-width: 100%;
	}
    .D2u-con .D2u-box:nth-child(3n) {
        border-right: 1px solid #e5e5e5;
    }
    .D2f-mess .D2f-con .D2f-img img{
        display: inline-block;
        width: 120px;
    }
    .D2p-mess .D2p-con .D2p-img img{
        display: inline-block;
        width: 120px;
    }
	.B1_product {
	    padding: 20px 10px;
	}
	.B1_box {
		width: 100%;
	}
	.B1_box:nth-child(1) {
	    margin-right: 0;
	    margin-bottom: 20px;
	}
	.B1_bt h1 {
	    font-size: 24px;
	}
	.B1_bt h5 {
	    font-size: 14px;
	}
	.BA2-txt h1 {
	    font-size: 24px;
	}
	.BA2-txt h5 {
	    font-size: 14px;
	}
	.BAf-txt h1 {
	    font-size: 24px;
	}
	.BAf-txt p {
	    font-size: 14px;
	}
	.Bicon-box,
	.aa_a1 .Bicon-box{
	    margin: 0 15px;
	}
	.BA2-fashion .Bicon-box {
	    width: 70px;
	}
	.BAf-icon {
	    margin: 40px auto 0;
	}
	.BA-two .Bicon-box {
	    margin: 0 10px;
		width: 30px;
	}
	.BAf-mess {
	    margin-top: 20px;
	}
	.BAf-mess p {
	    font-size: 12px;
	    line-height: 1.5;
	}
	.BA-right h1 {
	    font-size: 24px;
		margin-bottom: 30px;
	}
	.BA-right p {
		font-size: 14px;
	}
	.BA-lv .BA-con {
	    padding: 0 15px;
	}
	.BA-carbon .BA-con {
	    padding: 0 15px;
	}
	.BA-nano .BA-con {
	    padding: 0 15px;
	}
	.BB3-txt {
	    left: 0px;
	}
	.BB3-txt h1 {
	    font-size: 24px;
	}
	.BB3-txt p {
	    font-size: 14px;
	}
	.Bab-txt h1 {
	    font-size: 24px;
	}
	.Bab-txt p {
	    font-size: 14px;
	}
	.BA-wind{
		padding-top: 0px;
	}
	.BA-code{
		padding-top: 0px;
	}
	.BA-double .Bad-txt h1 {
	    font-size: 24px;
	}
	.BA-double .Bad-txt p{
		font-size: 14px;
	}
	.BA-new .Ban-txt h1 {
	    font-size: 24px;
	}
	.BA-new .Ban-txt p{
		font-size: 14px;
		line-height: 1.5;
	}
	.f40{
	    font-size: 24px;
	}
	.f16 {
	    font-size: 14px;
	}
	.B4-care .B4-mess .B4-icon {
	    margin: 0 5px;
	    width: 70px;
	}
	.B4-weixin .B4w-txt .B4w-mess .B4w-icon {
	    margin: 0 5px;
	}
	.B4-change .B4h-txt .B4h-mess .B4h-icon {
	    width: 80px;
	    margin: 0 10px;
	}
	.B4-newind .B4n-txt .B4n-mess .B4n-icon {
	    margin: 0 5px;
	}
	.BB5 h1 {
		padding: 30px 0 20px;
	    font-size: 24px;
	}
	.BB5 h1 span {
	    font-size: 18px;
	}
	.BB5-di {
	    padding: 50px 0 50px;
	}
	.tanform {
		width: 95%;
		margin: 0 auto;
	}
	.tf-left {
		display: none;
	}
	.tf-right {
	    width: 100%;
	    padding: 35px 20px 50px;
	}
	.pro-nav .title {
		display: none;
	}
	.pro-nav .pn-con {
	    width: 100%;
	}
	.pro-nav .pn-con ul{
		float: left;
	}
	.pro-nav .pn-con li {
	    padding: 0 5px;
	}
	.pro-nav .pn-con li button {
	    width: 60px;
	}
	.B1-banner {
	    height: 220px;
	}
	.B1-story .wrap,
	.B1-intro .wrap,
	.B1-process .wrap{
		padding: 0px;
	}
	.B1-icon {
	    margin: 0 0px;
	    width: 30%;
	}
	.B1-icon .num-box {
	    width: 55px;
	    height: 55px;
	    margin: 0 auto 7px;
	}
	.B1-icon .num-box span {
	    font-size: 16px;
	}
	.B1-icon p {
	    font-size: 12px;
	}
	.B-change p {
	    font-size: 14px;
	}
	.Bli-box {
	    width: 32%;
	    height: 80px;
	    margin: 0px;
	}
	.Bli-box.w40 {
	    width: 33%;
	    height: auto;
	}
	.B1d-mess .slick-dots{
		bottom: -15px;
	}
	.B1i-slide {
	    padding: 40px 0;
	}
	.B1cbox {
	    padding: 0 50px;
	}
	.B1cbox .B1txt h1 {
	    font-size: 20px;
	}
	.B1cbox .B1txt p {
	    font-size: 12px;
	}
	.B1d-icon .B1d-img img {
	    margin: 0 auto;
	}
	.B1c-slick .slick-prev {
		left: 0px;
	}
	.B1c-slick .slick-next {
		right: 0px;
	}
	.B2ch-con .B2ch-box h1 {
	    margin-bottom: 15px;
	}
	.B2u-mess .B2u-icon {
	    margin-right: 10px;
	    width: 40px;
	}
	.B2-pimg .B2img-con {
	    padding-top: 35px;
	}
	.B2ch-con .B2ch-box li p {
	    line-height: 2;
	}
	.B2ch-con .B2ch-box {
	    height: auto;
	    padding: 15px 15px 15px 50px;
	}
	.B2ch-con .B2ch-box:nth-child(even){
		border-left:1px solid #d2d2d2;
		animation-delay: .3s;
	}
	.B2ch-con .B2ch-box .B2ch-num {
	    top: 10px;
	    left: 5px;
	}
	.D3t-box {
	    padding: 0 15px;
	    font-size: 12px;
	    height: 35px;
	    line-height: 35px;
	}
	.D3t-box a{
	    line-height: 35px;
	}
	.D3c-top .D3c-box {
	    margin-bottom: 80px;
	}
	.D3c-bottom .D3c-box {
	    width: 100%;
	    margin-bottom: 80px;
	}
	.D3c-box .D3c-txt h2 {
	    font-size: 18px;
	}
	.D3c-box .D3c-txt p {
	    font-size: 14px;
	}
	.D2-parpre {
	    padding-top: 30px;
	    padding-bottom: 40px;
	}
	.D2p-mess {
	    margin: 30px 0 0;
	}
	.D2p-mess .D2p-con .D2p-img {
	    margin-bottom: 15px;
	}
	.D2p-mess .slick-dots {
	    bottom: -20px;
	}
	.D2-furred {
	    padding: 30px 15px 30px;
	}
	.D2u-con {
	    margin: 30px 0 30px;
	}
	.D2u-con .D2u-box {
	    width: 100%;
	    height: 145px;
	    padding: 15px 10px 0 10px;
	}
	.D2u-con .D2u-box h2 {
	    font-size: 28px;
	    margin-bottom: 10px;
	}
	.bah{
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.o_pad2{
		padding-top: 60px;
	}
	.D2-floor ul {
	    margin: 30px 0 30px;
	}
	.D2-floor ul li {
	    font-size: 14px;
	}
	.D2-floor .D2l-mess {
	    margin: 0px;
	}
	.D2-floor .D2l-icon {
	    margin: 0 2px;
	}
	.D2-open ul {
	    margin: 30px 0 30px;
	}
	.D2-open ul li {
	    font-size: 14px;
	}
	.D2-open .D2l-mess {
	    margin: 0px;
	}
	.D2-open .D2l-icon {
	    margin: 0 2px;
	}
	.C2m-top {
	    padding-top: 30px;
	}
	.C2m-top .C2m-choose {
	    margin: 30px 0 30px;
	}
	.C2m-top .C2m-choose .C2m-address {
		float: none;
		margin-bottom: 10px;
		width: 280px;
	}
	.C2m-top .C2m-choose button {
	    margin: 0 auto;
	    display: block;
	}
	.C2m-contact .C2m-contact {
	    right: 0%;
	    width: 200px;
	    padding: 25px 10px 90px 10px;
	}
	.C2m-contact .C2m-contact h1 {
	    font-size: 16px;
	}
	.C2m-contact .C2m-contact .C2m-txt {
	    margin: 15px 0;
	}
	.C2m-contact .C2m-contact .C2m-txt li {
	    font-size: 14px;
	}
	.C2m-contact .C2m-contact button {
	    width: 100px;
	    height: 30px;
	}
	.C2m-contact .C2m-contact button a {
	    font-size: 12px;
	}
	.B1t-img {
	    width: 100px;
	    margin: 0 auto 20px;
	}
	.B1c-slick .slick-prev {
	    width: 12px;
	    height: 24px;
	}
	.B1c-slick .slick-next{
	    width: 12px;
	    height: 24px;
	}
	.B1t-mess .slick-prev {
	    width: 12px;
	    height: 24px;
	}
	.B1t-mess .slick-next {
	    width: 12px;
	    height: 24px;
	}
	.B2u-txt p {
	    margin: 30px 0;
	}
	.B2-pimg {
	    margin: 30px auto 0;
	}
	.B2ch-con {
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.Bab-box {
	    margin: 0 15px;
	}
	.D2u-con .D2u-box {
	    border-right: 1px solid #e5e5e5;
	}
	.D2u-con .D2u-box:nth-child(2){
	    border-top: 0px;
	}
	.D3-example {
	    padding: 30px 15px 0;
	}
	.BB5 {
		padding: 0 15px;
	}
	.pro-nav {
		padding: 0 15px;
	}
	.D2-floor ul li::after {
	    top: 8px;
	}
	.D2-open ul li::after {
	    top: 8px;
	}
	.C2m-top .map {
	    height: 480px;
	}
	.C2m-con .C2m-slick {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.C2m-contact .C2m-contact h1::after {
		display: none;
	}
}