<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
<!-- pc头部 -->
<header class="pc-head">
    <div class="container clearfix">
        <div class="logo">
            <a href="http://yousouyun.gotoip2.com/" target="_blank"><img
                    src="http://yousouyun.gotoip2.com/image/logo.png"
                    ></a></div>
        <ul class="pv-nav">
            <li class="act on"><a href="http://yousouyun.gotoip2.com/"
                                  target="_self"><span>首页</span></a>
            </li>
            <li><a href="#" target="_self"><span>产品</span></a>
                <ul class="navdown down1 index-up"
                    >
                    <li>
                        <!-- 		                	<a href="/Cn/product/in_product/catid/10/id/10.html"  target="_self"> -->
                        <a href="http://yousouyun.gotoip2.com/product/01/index.html" target="_self">
                            <p>
                                <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                     class="hover-hide" alt="">
                                <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                     class="hover-show" alt="">

                            </p>
                            <p>中央除湿</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/product/in_product/catid/9/id/9.html"  target="_self"> -->
                        <a href="http://yousouyun.gotoip2.com/product/02/index.html" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>新风除湿</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/product/in_product/catid/11/id/11.html"  target="_self"> -->
                        <a href="http://yousouyun.gotoip2.com/product/03/index.html" target="_self">
                            <p>
                                <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                     class="hover-hide" alt="">
                                <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                     class="hover-show" alt="">
                            </p>
                            <p>工业除湿</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/product/in_product/catid/11/id/11.html"  target="_self"> -->
                        <a href="http://yousouyun.gotoip2.com/product/04/index.html" target="_self">
                            <p>
                                <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                     class="hover-hide" alt="">
                                <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                     class="hover-show" alt="">
                            </p>
                            <p>转轮除湿</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/product/in_product/catid/11/id/11.html"  target="_self"> -->
                        <a href="http://yousouyun.gotoip2.com/product/05/index.html" target="_self">
                            <p>
                                <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                     class="hover-hide" alt="">
                                <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                     class="hover-show" alt="">
                            </p>
                            <p>酒窖除湿</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/product/in_product/catid/11/id/11.html"  target="_self"> -->
                        <a href="http://yousouyun.gotoip2.com/product/06/index.html" target="_self">
                            <p>
                                <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                     class="hover-hide" alt="">
                                <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                     class="hover-show" alt="">
                            </p>
                            <p>恒温系列</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/product/in_product/catid/11/id/11.html"  target="_self"> -->
                        <a href="http://yousouyun.gotoip2.com/product/06/index.html" target="_self">
                            <p>
                                <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                     class="hover-hide" alt="">
                                <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                     class="hover-show" alt="">
                            </p>
                            <p>加湿系列</p>
                        </a></li>
                    <!--<li>-->
                        <!--&lt;!&ndash; 		                	<a href="/Cn/product/in_product/catid/12/id/12.html"  target="_self"> &ndash;&gt;-->
                        <!--<a href="http://www.chinathomos.com/Cn/product/in_product/catid/12/id/12.html" target="_self">-->
                            <!--<p>-->
                                <!--<img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"-->
                                     <!--class="hover-hide" alt="">-->
                                <!--<img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"-->
                                     <!--class="hover-show" alt="">-->
                            <!--</p>-->
                            <!--<p>柜式系列</p>-->
                        <!--</a></li>-->
                    <!--<li>-->
                        <!--&lt;!&ndash; 		                	<a href="/Cn/product/in_product/catid/40/id/40.html"  target="_self"> &ndash;&gt;-->
                        <!--<a href="http://www.chinathomos.com/Cn/product/in_product/catid/40/id/40.html" target="_self">-->
                            <!--<p>-->
                                <!--<img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"-->
                                     <!--class="hover-hide" alt="">-->
                                <!--<img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"-->
                                     <!--class="hover-show" alt="">-->
                            <!--</p>-->
                            <!--<p>双向流壁挂</p>-->
                        <!--</a></li>-->
                    <!--<li>-->
                        <!--&lt;!&ndash; 		                	<a href="/Cn/product/in_product/catid/42/id/42.html"  target="_self"> &ndash;&gt;-->
                        <!--<a href="http://www.chinathomos.com/Cn/product/in_product/catid/42/id/42.html" target="_self">-->
                            <!--<p>-->
                                <!--<img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"-->
                                     <!--class="hover-hide" alt="">-->
                                <!--<img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"-->
                                     <!--class="hover-show" alt="">-->
                            <!--</p>-->
                            <!--<p>壁挂新风</p>-->
                        <!--</a></li>-->
                    <!--<li>                        &lt;!&ndash; <a href="/Cn/product/in_product/catid/38/id/38.html"  target="_self">-->
		                 <!--&ndash;&gt;-->
                        <!--<a href="http://www.chinathomos.com/Cn/product/in_product/catid/38/id/38.html" target="_self">-->
                            <!--<p>-->
                                <!--<img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"-->
                                     <!--class="hover-hide" alt="">-->
                                <!--<img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"-->
                                     <!--class="hover-show" alt="">-->
                            <!--</p>-->
                            <!--<p>全屋净水</p>-->
                        <!--</a></li>-->
                </ul>
            </li>


            <li><a href="#" target="_self"><span>服务</span></a>
                <ul class="navdown down1">
                    <li>
                        <!-- 		                	<a href="/Cn/service/index/catid/25.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>售后服务</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/service/like/catid/26.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>维修保养</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/service/answer/catid/27.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>常见问题</p>
                        </a></li>
                </ul>
            </li>
            <li><a href="#" target="_self"><span>安装</span></a>
                <ul class="navdown down1">
                    <li>
                        <!-- 		                	<a href="/Cn/install/index/catid/19.html"  target="_self"> -->
                        <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                             class="hover-hide" alt="">
                        <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                             class="hover-show" alt="">
                        </p>
                        <p>方案选择</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/install/know/catid/20.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>安装需知</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/install/cases/catid/21.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>安装案例</p>
                        </a></li>
                </ul>
            </li>
            <li><a href="#" target="_self"><span>资讯</span></a>
                <ul class="navdown down1">
                    <li>
                        <!-- 		                	<a href="/Cn/news/index/catid/22.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>企业资讯</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/news/index/catid/23.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>行业资讯</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/news/index/catid/24.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>品牌活动</p>
                        </a></li>
                </ul>
            </li>
            <li><a href="#" target="_self"><span>品牌</span></a>
                <ul class="navdown down1">
                    <li>
                        <!-- 		                	<a href="/Cn/about/index/catid/13.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>关于THOMOS</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/about/tech/catid/14.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>科技创新</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/about/contactus/catid/15.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>联系我们</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/about/index/catid/43.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>荣誉资质</p>
                        </a></li>
                </ul>
            </li>
            <li><a href="#"
                   target="_self"><span>加入YAKE</span></a>
                <ul class="navdown down1 index-up"
                    >
                    <li>
                        <!-- 		                	<a href="/Cn/join/index/catid/28.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>加入YAKE</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/join/tradman/catid/29.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>下载中心</p>
                        </a></li>
                    <li>
                        <!-- 		                	<a href="/Cn/join/buy/catid/30.html"  target="_self"> -->
                        <a href="#" target="_self"><p>
                            <img src="http://yousouyun.gotoip2.com/image/20180730111307_5b5e8243b5d96.png"
                                 class="hover-hide" alt="">
                            <img src="http://yousouyun.gotoip2.com/image/20180730111705_5b5e833118fad.png"
                                 class="hover-show" alt="">
                        </p>
                            <p>商学院</p>
                        </a></li>
                </ul>
            </li>
        </ul>
        <div type="button" class="d-openmenu">
            <span></span>
        </div>
    </div>
</header>
<!-- 手机头部 -->
<div class="ph-menu-ul">
    <div class="d-xialaph">
        <ul class="d-ul1">
            <li class="clearfix">
                <div class="containerr">
                    <h4>
                        <a href="http://www.chinathomos.com/">首页</a>
                    </h4>
                </div>
                <!-- 二级 -->
            </li>
            <li class="clearfix">
                <div class="containerr">
                    <!--<h4>-->
                        <!--产品 <img class="img_s"-->
                                <!--src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jia.png">-->
                        <!--<img class="img_d"-->
                             <!--src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jian.png">-->
                    <!--</h4>-->
                </div>
                <!-- 二级 -->
                <ul class="d-ul2">
                    <div class="containere">
                        <li>
                            <a href="http://www.chinathomos.com/Cn/product/in_product/catid/10/id/10.html"
                               target="_self"><h5>珊野系列</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/product/in_product/catid/9/id/9.html" target="_self">
                                <h5>灵风系列</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/product/in_product/catid/11/id/11.html"
                               target="_self"><h5>筼涧系列</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/product/in_product/catid/12/id/12.html"
                               target="_self"><h5>柜式系列</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/product/in_product/catid/40/id/40.html"
                               target="_self"><h5>双向流壁挂</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/product/in_product/catid/42/id/42.html"
                               target="_self"><h5>壁挂新风</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/product/in_product/catid/38/id/38.html"
                               target="_self">
                                <h5>全屋净水</h5>
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
            <li class="clearfix">
                <div class="containerr">
                    <h4>
                        体验 <img class="img_s"
                                src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jia.png">
                        <img class="img_d"
                             src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jian.png">
                    </h4>
                </div>
                <!-- 二级 -->
                <ul class="d-ul2">
                    <div class="containere">
                        <li>
                            <a href="http://www.chinathomos.com/Cn/vr/index/catid/16.html" target="_self"><h5>
                                VR视频体验</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/vr/start/catid/18.html" target="_self"><h5>明星体验店</h5>
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
            <li class="clearfix">
                <div class="containerr">
                    <h4>
                        安装 <img class="img_s"
                                src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jia.png">
                        <img class="img_d"
                             src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jian.png">
                    </h4>
                </div>
                <!-- 二级 -->
                <ul class="d-ul2">
                    <div class="containere">
                        <li>
                            <a href="http://www.chinathomos.com/Cn/install/index/catid/19.html" target="_self"><h5>
                                方案选择</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/install/know/catid/20.html" target="_self"><h5>
                                安装需知</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/install/cases/catid/21.html" target="_self"><h5>
                                安装案例</h5>
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
            <li class="clearfix">
                <div class="containerr">
                    <h4>
                        服务 <img class="img_s"
                                src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jia.png">
                        <img class="img_d"
                             src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jian.png">
                    </h4>
                </div>
                <!-- 二级 -->
                <ul class="d-ul2">
                    <div class="containere">
                        <li>
                            <a href="http://www.chinathomos.com/Cn/service/index/catid/25.html" target="_self"><h5>
                                售后服务</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/service/like/catid/26.html" target="_self"><h5>
                                维修保养</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/service/answer/catid/27.html" target="_self"><h5>
                                常见问题</h5>
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
            <li class="clearfix">
                <div class="containerr">
                    <h4>
                        资讯 <img class="img_s"
                                src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jia.png">
                        <img class="img_d"
                             src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jian.png">
                    </h4>
                </div>
                <!-- 二级 -->
                <ul class="d-ul2">
                    <div class="containere">
                        <li>
                            <a href="http://www.chinathomos.com/Cn/news/index/catid/22.html" target="_self"><h5>
                                企业资讯</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/news/index/catid/23.html" target="_self"><h5>
                                行业资讯</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/news/index/catid/24.html" target="_self"><h5>
                                品牌活动</h5>
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
            <li class="clearfix">
                <div class="containerr">
                    <h4>
                        品牌 <img class="img_s"
                                src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jia.png">
                        <img class="img_d"
                             src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jian.png">
                    </h4>
                </div>
                <!-- 二级 -->
                <ul class="d-ul2">
                    <div class="containere">
                        <li>
                            <a href="http://www.chinathomos.com/Cn/about/index/catid/13.html" target="_self"><h5>
                                关于THOMOS</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/about/tech/catid/14.html" target="_self"><h5>
                                科技创新</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/about/contactus/catid/15.html" target="_self"><h5>
                                联系我们</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/about/index/catid/43.html" target="_self"><h5>
                                荣誉资质</h5>
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
            <li class="clearfix">
                <div class="containerr">
                    <h4>
                        加入THOMOS <img class="img_s"
                                      src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jia.png">
                        <img class="img_d"
                             src="./【官网】THOMOS新风系统_ 家用中央柜式壁挂新风系统_新风系统十大品牌排名_除湿新风换气机_新风系统品牌加盟—托马仕【官网】_files/SJ_xiala_jian.png">
                    </h4>
                </div>
                <!-- 二级 -->
                <ul class="d-ul2">
                    <div class="containere">
                        <li>
                            <a href="http://www.chinathomos.com/Cn/join/index/catid/28.html" target="_self"><h5>
                                加入THOMOS</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/join/tradman/catid/29.html" target="_self"><h5>
                                下载中心</h5>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.chinathomos.com/Cn/join/buy/catid/30.html" target="_self"><h5>商学院</h5>
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
</div><!-- banner -->
<script>
    $(function () {
        $(".logo").click(function () {
            console.log("logo click");
        })
        $(".pc-head .container .pv-nav > li").hover(function () {
            if($(this).hasClass("on")){
                return ;
            }else {
                $(this).children(".navdown").stop().slideDown(500).addClass("index-up");
            }
        },function () {
            if($(this).hasClass("on")){
                return ;
            }else  {
                $(this).children(".navdown").stop().slideUp(500);
            }
        });
        $('.d-openmenu').click(function () {
            if($(this).hasClass("act")){
                $(this).removeClass("act");
            }else{
                $(this).addClass('act');
            }
        })
    })

</script>
</body>
</html>